/*******Tags Selector*******/
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'IM Fell English SC', serif;
    color: #66BFBF;
}

h2 {
    font-size: 2.5rem;
    font-family: 'Andada Pro', serif;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Andada Pro', serif;
    color: #11999E;
}

a {
    color: #11999E;
    
}

hr {
    border-style: dotted none none;
    width: 10%;
    border-width: 10px;
    border-color: grey;
    margin: 80px auto;
}

p {
    line-height: 2;
}


/*******Class Selector*******/
.top-container {
    background-color: #E3FDFD;
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: #CBF1F5;
    padding: 100px 0;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;

}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.intro {
    width: 30%;
    margin: auto;
}

.smiley {
    border-radius: 50%;
    width: 20%;
}

.game {
    border-radius: 50%;  
    width: 25%;
    float: left;
    margin-right: 30px;
}

.apple {
    border-radius: 50%;  
    width: 25%;
    float: right;
    margin-left: 30px;

}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.contact-message {
    width: 50%;
    margin: 40px auto 60px;
}

.copyright {
    margin-bottom: 0;
    color: #EAF6F6;
    padding-top: 20px;
    font-size: 0.75rem;
}

.footer-link {
    color: #11999E;
    margin: 10px 30px;
    text-decoration: none;
}

.footer-link:hover {
    color: #EAF6F6;
}


.BUTTON_HVK {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #1199E9);
   background-image: -moz-linear-gradient(top, #11CDD4, #1199E9);
   background-image: -ms-linear-gradient(top, #11CDD4, #1199E9);
   background-image: -o-linear-gradient(top, #11CDD4, #1199E9);
   background-image: -webkit-gradient(to bottom, #11CDD4, #1199E9);
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 13px;
   height: 16px;
   line-height: 16px;
   color: #FFFFFF;
   font-family: 'Andada Pro', serif;
   width: 140px;
   font-size: 20px;
   font-weight: 100;
   padding: 16px;
   text-shadow: 1px 1px 0 #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: 20px;
}

.BUTTON_HVK:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 13px;
   -moz-border-radius: 13px;
   border-radius: 13px;
   text-decoration: none;
}